*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}
nav{
    width: 100%;
    height: 45px;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    /* background-color: black; */
}
nav .logo{
    display: flex;
    margin: 0 0 0 70px;
}
nav .logo img{
    height: 45px;
    display: flex;
}

nav .navlinks{
    display: flex;
    align-items: center;
}
.navlinks ul{
    display: flex;
}
.navlinks ul li{
    list-style: none;
    margin-left: 25px;
}
.navlinks ul li a{
    text-decoration: none;
}
nav .loginbtn{
    margin: 5px 70px 0 0;
}
nav .loginbtn .btn1{
    height: 35px;
    width: 100px;
    background-color: transparent;
    border: none; 
    font-size: 17px;
}
nav .loginbtn .btn2{
    height: 35px;
    width: 130px;
    border-radius: 8px;
    border: none;
    color: #fff;
    padding-right: 10px;
    background-color: rgb(111, 0, 255);
}
.loginbtn .btn2 .fa-solid{
    position: absolute;
    margin: 4.8px 0 0 4px;
    font-size: 12px;
    font-weight: 600;
}
.herocontent{
    height: 68vh;
    width: 100%;
    /* border: 1px solid black; */
}
.herocontent .textcontent{
    height: 59vh;
    width: 50%;
    /* border: 1px solid green; */
    margin: 33px auto;
}
.textcontent .toppara{
    display: flex;
    width: 35%;
    height: 30px;
    align-items: center;
    margin: auto;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    border-radius: 40px;
    box-shadow: 0px 0px 10px .01px rgba(0, 0, 0, 0.429);
}
.textcontent   .toppara b{
    background-color: rgb(255, 102, 0);
    width: 35px;
    height: 15px;
    color: #fff;
    font-size: 10px;
    font-weight: 300;
    padding-top: .6px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}
.toppara p{
    font-size: 10px;
    font-weight: 600;
}
.toppara p .fa-solid{
    position: absolute;
    margin: 2.9px 0 0 4px;
}
.textcontent .topheading{
    width: 100%;
    height: 200px;
    align-items: center;
    margin: 35px 120px;
    justify-content: center;
    /* border: 1px solid black; */
}
.topheading h1{
    font-size: 90px;
    font-weight: 300;
    line-height: 100px;
}
.topheading h1 b{
    font-size: 90px;
    background-color: transparent;
    color: rgb(111, 0, 255);
    font-weight: bold;
}
.textcontent .aboutpara{
    width: 80%;
    height: 70px;
    align-items: center;
    margin: -30px auto;
    justify-content: center;
    /* border: 1px solid black; */
}
.aboutpara p{
    font-size: 25px;
    text-align: center;
}
.textcontent .Startbtns{
    width: 80%;
    height: 50px;
    align-items: center;
    margin:60px auto;
    justify-content: center;
    /* border: 1px solid black; */
    text-align: center;
}

.Startbtns .freebtn{
    border: none;
    height: 40px;
    width: 170px;
    border-radius: 10px;
    background-color: rgb(111, 0, 255);
    color: #fff;
    font-weight: 600;
}
.freebtn .fa-solid{
    position: absolute;
    margin: 6.9px 0 0 3px;
    font-size: 10px;
}

.Startbtns .qbtn{
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: transparent;
    color: #000;
    font-weight: 600;
}
.video{
    overflow: hidden;
}
#video {
    width: auto;
    height: 80vh;
    margin: 0px 240px; 
    border-radius: 10px;
    border: none;
}